body {
  background-color: #434343;
  color: white;
  font-family: 'Roboto', sans-serif;
}



.trolled {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
  display: block;
}